<nav class="navbar navbar-light bg-primary-darker">
  <div class="d-flex">
    <a class='name text-secondary' routerLink="/">SAFE TRIP FINANCE</a>
    <a class='name text-secondary d-sm-none d-block' routerLink="/">STF</a>
    
  </div>

  <div class="d-flex">

    <div class="center" [class.dropdown] = !isMenuDropdown>
      <div [class.center] = isMenuDropdown [class.dropdown-menu] = !isMenuDropdown>
        <a class="nav-link " href="#">💯 Top 100</a>
        <a class="nav-link" href="#">🚀 Trending</a>
        <a class="nav-link" href="#">🔥 Newly Added</a>
      </div>
    </div> 

    <button class="round btn btn-primary" [class.hidebtn] = isMenuDropdown
    #tooltip_menuu="matTooltip"
    matTooltip="Menu"
    id="dropdownMenuButton" data-toggle="dropdown">
      <span class="bi bi-caret-down-square-fill"></span>
    </button>

    <button
    [matMenuTriggerFor]="search"
    #tooltip_search="matTooltip"
    matTooltip="Search Tokens"
    class="round btn btn-primary">
    <span class="bi bi-search"></span> 
  </button>
  
  <button
    [matMenuTriggerFor]="menu"
    #tooltip_menu="matTooltip"
    matTooltip="Watchlist"
    class="round btn btn-primary">
    <span class="bi bi-eye-fill"></span> 
  </button>

  </div>
  

  <mat-menu #menu="matMenu" class="">

      <table class="table table-borderless data-justify data-container">
        <h2 class="text-center">Watchlist</h2>
        <tr mat-menu-item *ngFor="let pair of watchList;let i = index" id={{pair.id}} (click)="$event.stopPropagation()">
            <td style="font-size:20px;cursor:pointer;"><span (click)="removeToken($event)" class="bi-heart-fill text-danger"></span></td>
            <td class="text-primary">{{pair.name | titlecase}}</td>
            <td class="text-primary">{{pair.price}}</td>
        </tr>
      </table>
      <div mat-menu-item style="width:100%;" *ngIf="watchList.length == 0">
        <h4 class="text-center text-danger">Saved Tokens Will Appear Here.</h4>
      </div>
  </mat-menu>

  <mat-menu #search="matMenu" >
    <div mat-meu-item class="notification-container">
      <input  (click)="$event.stopPropagation()" class="form-control ml-3 mr-3" 
    type="search" style="width:auto;font-size:13px;" placeholder="Search Token/Paste Address" aria-label="Search">
    </div>
    
    
  </mat-menu>

</nav>

<div class="trend-wrapper d-flex flex-row flex-nowrap">
  <div class="trending text-primary-lighter" *ngFor="let pair of pairs;let i = index">
    <span class="text-white">#{{i+1}}</span> {{pair.name}} - {{pair.price}}
  </div>
  
</div>