<nav class="navbar navbar-light bg-primary-darker">
  <div class="d-flex">
    <a class='name text-secondary' routerLink="/">SAFE TRIP FINANCE</a>
    <a class='name text-secondary d-sm-none d-block' routerLink="/">STF</a>

  </div>

  <div class="d-flex">

    <button class="round btn btn-primary-lighter" [class.hidebtn]=isMenuDropdown #tooltip_menuu="matTooltip"
      matTooltip="Menu" id="dropdownMenuButton" data-toggle="dropdown">
      <span class="bi bi-caret-down-square-fill"></span>
    </button>

    <button [matMenuTriggerFor]="menu" #tooltip_menu="matTooltip" matTooltip="Watchlist"
      class="round btn btn-primary-lighter">
      <span class="bi bi-eye-fill"></span>
    </button>
    <button [matMenuTriggerFor]="links" #tooltip_menu="matTooltip" matTooltip="Socials"
      class="round btn btn-primary-lighter">
      <span class="bi bi-link"></span>
    </button>


  </div>


  <mat-menu #menu="matMenu" class="">

    <table class="table table-borderless data-justify data-container">
      <h2 class="text-center">Watchlist</h2>
      <a href="/explorer/{{pair.address}}" mat-menu-item *ngFor="let pair of watchList;let i = index"
        id={{pair.address}} (click)="$event.stopPropagation()">
        <td style="font-size:20px;cursor:pointer;"><span (click)="removeToken($event)"
            class="bi-heart-fill text-danger"></span></td>
        <td class="text-primary">{{pair.base_name}}/{{pair.quote_name}}</td>
        <td class="text-primary">{{pair.address | slice:0:6}}</td>
      </a>
    </table>
    <div mat-menu-item style="width:100%;" *ngIf="watchList.length == 0">
      <h4 class="text-center text-danger">Saved Tokens Will Appear Here.</h4>
    </div>
  </mat-menu>
  <mat-menu #links="matMenu">

    <div class="d-flex flex-column align-items-start data-container links" style="padding:10px 20px;">
      <h2 class="text-center">Social Links</h2>
      <a class="text-primary" href="https://safetrip.finance">
        <span class="bi-globe"> Main Site</span>
      </a>
      <a class="text-primary" href="https://www.instagram.com/safetripfinance/">
        <span class="bi-instagram"> Instagram</span>
      </a>
      <a class="text-primary" href="https://t.me/SafetripfinanceChat">
        <span class="bi-telegram"> Telegram</span>
      </a>
      <a class="text-primary" href="https://twitter.com/safetripfinance">
        <span class="bi-twitter"> Twitter</span>
      </a>
    </div>
  </mat-menu>


</nav>

<div class="trend-wrapper d-flex flex-row flex-nowrap">
  <div class="trending text-primary-lighter" *ngFor="let pair of trendList;let i = index">
    <a href="/explorer/{{pair.pair_address}}" class="text-secondary" style="text-decoration: none;"><span
        class="text-white">#{{i+1}}</span>
      {{pair.pair_base_name}}/{{pair.pair_quote_name}}</a>
  </div>

</div>