<div class="main">
    <h3 class="list">Transactions</h3>
    <h5 class="text-secondary">500 Latest Transactions</h5>
    <table class="table">
        <tr class="text-left">
            <th>Date</th>
            <th>Block No.</th>
            <th>Type</th>
            <th>STF Amount</th>
            <th>BUSD Amount</th>
            <th>Maker</th>
            <th>Tx Hash</th>
        </tr>
        <tr *ngFor="let trade of trades" >
            <td>{{trade.block.timestamp.time | date}}</td>
            <td><a href="https://bscscan.com/block/{{trade.block.height}}">{{trade.block.height}}</a></td>
            <td class="{{trade.side | buysell}}">{{trade.side}}</td>
            <td>{{trade.buyAmount | number:'0.1-5'}}</td>
            <td>{{trade.sellAmount | number:'0.1-5'}}</td>
            <td><a href="https://bscscan.com/address/{{trade.taker.address}}">{{trade.taker.address | slice:0:7}}..</a></td>
            <td><a href="https://bscscan.com/tx/{{trade.transaction.hash}}">{{trade.transaction.hash | slice:0:9}}...</a></td>
        </tr>

    </table>
</div>