<div class="d-flex justify-content-center align-items-center" style="height:80%;">
    <div class="col-6">
        <div class="box">
            <div class="d-flex">
                <div>

                </div>
                <div>
                    <h2 class="text-secondary text-center font-weight-bold">Coming Soon</h2>
                    <h4>
                        A Real Time Report Of all the tokens being created on the pancake swap or uniswap protocol
                    </h4>
                </div>

            </div>
            
           
        </div>
    </div>
</div>
