<div [class.hide]="!isLoading" [class.load]="isLoading">
  <div class="overlay">
  
  </div>
  <div class="">
    <h2 class="text-center load-text" style="font-size:30px;"> Loading..</h2>
    <div class="loader">
    
    </div>
  </div>
</div>

<mat-drawer-container>
  <mat-drawer mode="side" opened="true"
  [class.menu-open] = isMenuOpen 
  [class.menu-close] = !isMenuOpen
  >
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <app-header></app-header>
    <notifier-container></notifier-container>
    <router-outlet></router-outlet>
    <div>
      <app-footer></app-footer>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
