@import "../../global.scss";
.stats td{
    font-size:15px;
    text-align:left;
    color:white;
    padding: 0.2em 20px !important;
}
.pills{
    width:fit-content;
    margin:5px;
    background-color:$primary-lighter;
    border-radius:30px;
    color:$secondary;
    padding:5px 10px;
    font-size:15px;
}
.price{
    overflow-wrap:break-word;
}
#more{
    display:none;
}