<div class="main-explorer row" style="margin-top:25px;padding:10px;">   
    <div class="col-md-4 mb-4">
        <div class="row ml-1 mr-1" >
            <div class="box col-sm-12 mb-3" style="padding:30px 20px;">
                <h2 class="text-white text-center font-weight-bolder">
                   <img width="35" src="https://seeklogo.com/images/P/pancakeswap-cake-logo-855C872947-seeklogo.com.png"> PANCAKE TOOLS
                </h2>
                <div class="form-outline d-flex">
                    <input class="form-control bg-secondary-light" 
                    placeholder="Search Name/Token Address"
                    type="text" name="search" id="token-search">
                    <button type="button" class="btn btn-secondary">
                        <i class="bi bi-search text-dark"></i>
                    </button>
                </div>
                
            </div>


            <div class="box col-sm-12" style="padding:30px 20px;">
                <div>
                    <h1 class="text-left token">STF/BUSD</h1>
                </div>
                <div class="icons">
                    <app-links
                    
                    ></app-links>
                </div>
                <div class="d-flex justify-content-start mt-3">
                    <button class="btn btn-secondary btn-lg">
                        Trade
                    </button>
                </div>
                <div class="">
                    <h1 class="text-right text-white font-weight-bolder">$43,242</h1>
                    <app-daily-volume>
                    </app-daily-volume>
                    
                </div>
                <h4 class="text-center mt-2 text-white font-weight-bold">Daily Volume</h4>
            </div>
        </div>

        <div class="row ml-1 mr-1 mt-3 d-md-block d-none">
            <div class="box" style="padding:10px;">
                <div class="cryptohopper-web-widget news"
                data-id="5" data-news_length="20"></div>
            </div>
        </div>
    </div>


    <div class="col-md-8 mb-4">
        <div class="row ml-1 mr-1" >
            <div class="box col-sm-12" style="padding:30px 20px">
                <h1 class="token text-right">Safe Trip</h1>
                <div id="chart">
                    <canvas baseChart 
                        [datasets]="lineChartData"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"
                        [plugins]="lineChartPlugins">
                    </canvas>
                </div>
            </div>
            
        </div>

        <div class="row mt-3 ml-1 mr-1 justify-content-between">
            <div class="col-lg-6" style="padding:5px;">
                <div class="box" style="padding:15px">
                    <h3 class="list">Trending Pairs</h3>
                    <table class="table">
                        <tr class="thead">
                            <th>#</th>
                            <th>Name</th>
                            <th>Price</th>
                        </tr>
                        <tr *ngFor="let pair of trendList;let i = index">
                            <td class="text-secondary">#{{i+1}}</td>
                            <td class="text-white">{{pair.name | titlecase}}</td>
                            <td class="text-white">{{pair.price}}</td>
                        </tr>
                    </table>
                    <div class="text-center" style="width:100%;" *ngIf="trendList.length == 0">
                        <h4 class="text-center text-white">Trending/Sponsored Tokens Appear Here</h4>
                    </div>
                    
                </div>
            </div>
            
            <div class="col-lg-6" style="padding:5px">
                <div class="box" style="padding:15px;">
                    <h3 class="list">Watchlist</h3>
                    <table class="table data-justify">
                        <tr class="thead">
                            <th><span class="bi-heart text-white"></span></th>
                            <th>Name</th>
                            <th>Price</th>
                        </tr>
                        <tr *ngFor="let pair of watchList;let i = index" id={{pair.id}}>
                            <td class="text-secondary" style="font-size:20px;cursor:pointer;"><span (click)="removeToken($event)" class="bi-heart-fill text-danger"></span></td>
                            <td class="text-white">{{pair.name | titlecase}}</td>
                            <td class="text-white">{{pair.price}}</td>

                            
                        </tr>
                    </table>
                    <div class="text-center" style="width:100%;" *ngIf="watchList.length == 0">
                        <h4 class="text-center text-white">Saved Tokens Will Appear Here.</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>