@import '../../../global.scss';
.icons{
    margin-right:10px;
    border-radius: 50%;
    height:30px;
    padding:2px;
    width:30px;
    background-color:white;
    &:hover{
        background-color:$secondary;
    }

}