$primary: #141722;
$primary-light: #384363;
$primary-lighter: #353f5c;
$primary-dark: #282e46;
$primary-darker: #161b26;

$white: #fff;
$secondary: #fff9d2;
$secondary-light: #fffef4;
$secondary-dark: #fff08e;
$dark: #353f5c;

$theme-colors: (
  "primary-light": $primary-light,
  "primary-lighter": $primary-lighter,
  "primary-dark": $primary-dark,
  "primary-darker": $primary-darker,
  "secondary-light": $secondary-light,
  "secindary-dark": $secondary-dark,
);

* {
  font-family: Montserrat, "sans-serif" !important;
}
