// $primary:#3F7276;
// $primary-light:#519297;
// $primary-lighter:#60a5aa;
// $primary-dark:#2d5255;
// $primary-darker:#213d3f;

$primary:#141722;
$primary-light:#384363;
$primary-lighter:#353f5c;
$primary-dark:#282e46;
$primary-darker:#161B26;

$white:#FFF;
$secondary:#FFF9D2;
$secondary-light:#fffef4;
$secondary-dark:#fff08e;
$dark:#353f5c;

$theme-colors: (
  "primary-light" : $primary-light,
  "primary-lighter" : $primary-lighter,
  "primary-dark" : $primary-dark,
  "primary-darker": $primary-darker,
  "secondary-light": $secondary-light,
  "secindary-dark": $secondary-dark,
);


*{
    font-family: Montserrat, 'sans-serif' !important;
}