/* You can add global styles to this file, and also import other style files */

@import 'global';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");



/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


html, body { 
    height: 100%;
    background-color: $dark !important;
 }    
 .box{
    background: rgba( 71, 128, 132, 0.45 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 15px; 
}


::-webkit-scrollbar {
    height:4px;
    width: 4px !important;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $dark; 
    border-radius: 15px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $primary-lighter; 
    border-radius: 15px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $primary-lighter; 
  }

  .round{
    margin-right:10px;
    border-radius: 50%;
    height:50px;
    width:50px;
    font-size:130%;
    font-weight:800;
    &:hover{
        background-color:$primary-darker;
    }
}

.table{
  word-wrap: break-word;
  word-break: break-all;  
  white-space: normal !important;
  text-align: justify; 
  overflow-x:auto;
  position:sticky;
}